<div class="news-card card">
  <div class="card-body">
    <p class="d-flex align-items-center">
      <span class="material-symbols-outlined me-2">
        account_circle
      </span>
      <span class="me-1 placeholder placeholder-glow col-4">
      </span> .
      <span class="small text-muted ms-1 placeholder placeholder-glow col-4">
      </span>
    </p>
    <div class="row align-items-center align-items-md-end">
      <div class="col-9 placeholder placeholder-glow">
        <h5 class="card-title placeholder placeholder-glow col-12"></h5>
        <p class="card-text d-none d-md-block placeholder placeholder-glow col-12"></p>
      </div>
      <div class="col-3 placeholder placeholder-glow">
        <img alt="" class="img-fluid rounded">
      </div>
    </div>
    <div class="col col-md-8 d-flex justify-content-between">
      <div>
        <span class="badge text-bg-secondary"></span>
      </div>


      <div class="action-buttons">
        <a href="javascript.void(0)"
          class="card-link btn btn-primary disabled placeholder col-4 ">
          <span class="material-symbols-outlined">
          </span>

        </a>
      </div>
    </div>
  </div>
</div>
